
// Custom Colors

$dark-primary: #383230; // black-brown
$dark-secondary: #3B4348; // slate blue
$neutral-dark: #666566; // grey
$neutral-light: #FDFDFC; // white
$bright-secondary: #A7BB8E; // sweet green

$bright-primary: #5DB09E; //aqua green

// Custom fonts

$font-size-base: 1.1rem;

$font-family-display: 'Special Elite', cursive;
$font-family-base: 'Source Sans Pro', sans-serif;
